<div class="container">
    <div style="margin-bottom: 2px;margin-top: 1rem;"><a href="/library/books" style="font-family: Poppins, sans-serif;"><i class="icon-arrow-left"></i> Back to Library</a></div>
</div>

<div class="container" style="margin-top: 3rem;">
    <div class="row">
        <div class="col-md-3 offset-md-2 text-center"><img class="img-fluid" src="9780061964367-us.jpg" width="200" height="100" /></div>
        <div class="col-md-5">
            <h2 style="margin-top: 1rem;font-family: Roboto, sans-serif;font-weight: bold;margin-bottom: 1px;">Book Title</h2>
            <p style="font-family: Poppins, sans-serif;font-size: 16px;color: #919693;margin-bottom: 10px;">ISBN No. 11345884426</p>
            <div class="d-flex d-md-flex align-items-center justify-content-md-start align-items-md-center" style="font-family: Lato, sans-serif;margin-bottom: 1rem;">
                <h5 style="font-family: Roboto, sans-serif;">Publisher : </h5>
                <h5 style="font-family: Lato, sans-serif;">MIT Press, 1990</h5>
            </div>
            <div>
                <h5 style="font-family: Lato, sans-serif;font-weight: bold;">Synopsis</h5>
                <p style="font-family: Poppins, sans-serif;">Pride and Prejudice has delighted generations of readers with its <br />unforgettable cast of characters, carefully choreographed plot, and a hugely entertaining view of the world and its absurdities. With the <br />arrival of eligible young men in their neighborhood, the lives of Mr. <br />and Mrs. Bennet and their five daughters are turned inside out and upside down. Pride encounters prejudice, upward-mobility confronts social disdain, and quick-wittedness challenges sagacity, as misconceptions and hasty judgements lead t<br /><br /></p>
            </div>
        </div>
    </div>
</div>